.flip-box {
    background-color: transparent;
    width: 25%;
    height: 250px;
    perspective: 1000px;
    /* Add some perspective to the flip box */
    padding: 10px;
    cursor: pointer;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    padding: 10px;
}

.flip-box-front {
    background-color: #3928CC;
    color: #FFDECB;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.flip-box-back {
    background-color: #83215F;
    color: #FFDECB;
    transform: rotateY(180deg);
}

.flip-box-back a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFDECB;
    color: #0D026D;
    text-decoration: none;
}

.flip-box-back a:hover {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0D026D;
    color: #FFDECB;
    text-decoration: none;
}


@media screen and (max-width: 900px) {
    .flip-box {
        background-color: transparent;
        width: 50%;
        height: auto;
        perspective: 1000px;
        /* Add some perspective to the flip box */
        padding: 10px;
        cursor: auto;
    }

    .flip-box-inner {
        position: static;
        width: 100%;
        height: auto;
        text-align: center;
        transition: none;
        transform-style: unset;
    }

    .flip-box:hover .flip-box-inner {
        transform: none;
    }

    .flip-box-front,
    .flip-box-back {
        position: static;
        width: 100%;
        height: auto;
        backface-visibility: visible;
    }

    .flip-box-front {
        background-color: #3928CC;
        color: #FFDECB;
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        border-radius: 20px 20px 0px 0px;
    }

    .flip-box-back {
        background-color: #83215F;
        color: #FFDECB;
        transform: unset;
        border-radius: 0px 0px 20px 20px;
    }

    .flip-box-back a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #FFDECB;
        color: #0D026D;
        text-decoration: none;
    }

    .flip-box-back a:hover {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #0D026D;
        color: #FFDECB;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    .flip-box {
        width: 100%;
    }
}