* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 222, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 26px;
    color: #0D026D;
}

.main-heading {
    font-size: 50px;
}

header {
    grid-area: header;
    background-color: rgb(13, 2, 109);
    padding: 10px;
    border-bottom: 5px solid black;
    background-image: url(../images/header_bg.jpg);
    color: white;
    text-shadow: 2px 2px 4px black;
}

.header-title {
    text-align: center;
}

.header-text {
    text-align: center;
    background-color: #ffb99f;
    border-radius: 20px;
    padding: 20px;
}

nav {
    grid-area: nav;
    z-index: 1;
}

.main1 {
    grid-area: main1;
    padding: 20px;
    background-color: #ffb99f;
    border-radius: 20px;
}

.main2 {
    grid-area: main2;
    padding: 20px;
}

.box,
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
}

.content span {
    font-weight: bold;
    display: block;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 20px;

}

.content a {
    color: white;
}

.half-column {
    width: 48%;
}

.one-third-column,
.one-third {
    width: 31.3%;
}

.response {
    background-color: #83215F;
    color: #FFDECB;
    padding: 20px;
    border-radius: 20px;
}

.response a {
    color: white;
    text-decoration: underline;
}

.two-third-column {
    width: 64.66%;
}

.half-column,
.one-third-column,
.two-third-column {
    background-color: #3928CC;
    color: #FFDECB;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}

.banner {
    grid-area: banner;
    background-color: white;

    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: #FFDECB;
    padding: 200px 40px;
}

.banner .text {
    width: 50%;
    float: right;
    padding: 20px;
    border-radius: 20px;
    background-color: #0D026D;
    /* Adjust as needed */
}

.banner .text h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.banner .text p {
    font-size: 18px;
    margin: 0;
}

.content_img img {
    width: 90%;
    max-width: 300px;
}

.content_img {
    text-align: center;
}

.aside1 {
    grid-area: aside;
    padding: 10px;
}

.aside1 img {
    width: 300px;
    min-width: 100%;
    border-bottom: 6px solid black;
    border-radius: 20px;
}

.section {
    grid-area: section;
    color: white;
    padding: 10px;
}


footer {
    grid-area: footer;
    background-color: rgb(13, 2, 109);
    color: rgb(255, 222, 203);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
}

footer a {
    color: #FF875C !important;
}

.main-grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'banner banner banner banner banner banner'
        'main2 main2 main2 main2 main2 main2'
        'section section section section section section'
        'main1 main1 main1 main1 aside aside'
        'footer footer footer footer footer footer';
    grid-gap: .0em;

    max-width: 1400px;
    width: 100%;
    /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
    margin: auto;
}

header div {
    float: left;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF875C;
    color: #0d026d;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.logo {
    height: 100px;
    border-radius: 100%;
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 30px;
    line-height: 50px;
}

.section-image {
    text-align: center;
}

.section-image img {
    border-radius: 20px;
    height: 350px;
    margin: 0px 20px;
}


footer a {
    color: rgb(55, 7, 59);
    border-radius: 10px;
    text-decoration: none;
}


#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    padding: 0px 0px;
    text-decoration: none;
    transition: opacity 0.3s;
}

#backToTop img {
    width: 70px;
    transition: opacity 0.3s;
}

#backToTop.show {
    display: block;
}

/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {

    .main-grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'nav nav nav nav nav nav'
            'banner banner banner banner banner banner'
            'main2 main2 main2 main2 main2 main2'
            'section section section section section section'
            'main1 main1 main1 main1 main1 main1'
            'aside aside aside aside aside aside'
            'footer footer footer footer footer footer';
        grid-gap: .0em;
    }

    .logo {
        float: none;
        height: 100px;
    }

    header div {
        text-align: center;
        width: 100%;
        float: none;
    }

    header h1 {
        font-size: 30px;
        padding: 5px;
    }

    .aside2 {
        text-align: center;
    }

    .banner .text {
        width: 70%;
    }

    .banner .text h1 {
        font-size: 30px;
    }

    .banner .text p {
        font-size: 18px;
    }

    .half-column,
    .one-third-column,
    .two-third-column {
        width: 100%;
    }

}

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 600px) {

    .main-grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'nav nav nav nav nav nav'
            'banner banner banner banner banner banner'
            'main2 main2 main2 main2 main2 main2'
            'section section section section section section'
            'main1 main1 main1 main1 main1 main1'
            'aside aside aside aside aside aside'
            'footer footer footer footer footer footer';
        grid-gap: .0em;
    }

    .banner .text {
        width: 80%;
    }

    .banner .text h1 {
        font-size: 28px;
    }

    .banner .text p {
        font-size: 16px;
    }

    .section-image img {
        width: 100%;
        margin: 0px 0px;
        height: auto;
    }
}
