/* HH Blue - #0079c2 */
/* HH Green - #99c878 */ 
/* IUI Red - #990002 */


body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(35, 35, 35);
	font-family: arial, sans-serif;
}

img	{
	max-width: 100%;
	}
	
section.group a:link, a:visited 
{border-radius: 25px;
  background-color: #990002;
  color: #fff;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

section.group a:hover, a:active {
  background-color: #0079c2;
  color: white;
}
	
	
h3 {
	font-size: 1.1em;
}
	

header {
    grid-area: header;
    background-color: #990002;
    color: #fff;
    padding: 1em;
	text-align: center;
}

.logo {
    grid-area: logo;
    background-color: #fff;
    display: flex;
    align-items: center;
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}


main {
    grid-area: main;
    background-color: #fff;
    border-radius: .5em;
}

main section {
    padding: 1em 1em 1em 1em;
}


main section h3 {
    margin-top: 1em;
}


footer {
    grid-area: footer;
    background-color: #990002;
    padding: 1em;
	color: #ccc;
}

footer a {color: #ccc;}


.grid-container {
    display: grid;
    grid-template-areas:
        'header header logo logo logo logo'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    
}

summary {
	cursor: pointer;
}

/* top and bottom spacing for paragraphs in the sections */
section p {
	margin: 1em 0 1em 0;
}


/* FIRST BREAK POINT */
@media only screen and (max-width : 1175px) {

    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'logo logo logo logo logo logo' 
            'main main main main main main'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
        padding: .5em;
    }


}


/* SECOND BREAK POINT == mobile */
@media only screen and (max-width : 600px) {

    body {
        width: 100%;
    }

}